@function rem($value){
    @return unquote(($value/1px)/16+"rem")
}

$easeTime:0.25s;
$margin-top: 56px;

$colors:(
    "mattBlackLight" : "#303337",
    "mattBlackDark" : "#212121",
    "mattGray": "#878dBd",
    "mattRed": "#ec6271"
);

@each $colorName, $colorValue in $colors {
    .bg-#{$colorName}{
        background-color: #{$colorValue};
    }
    .text-#{$colorName}{
        color:#{$colorValue}
    }
    
}

body{
     @extend .bg-mattBlackDark;
     @extend .text-mattGray;
}
.navbar-brand{
    font-family: 'Dancing Script', cursive;
    font-size: 1.29rem;
    margin-right: 0;
    
}

.wrapper{
    margin-top: 1rem;

    .sideMenu{
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        margin: rem($margin-top) auto auto;
        width: rem(200px);
        transition: all ease $easeTime;
        transform: translateX(-100%);
        z-index: 2000;

    }
    .content{
        width: 100%;
        margin-left: rem(0px);
        transition: all ease $easeTime;
    }
    &.active{
        .sideMenu{
            transform: translateX(0)
        }
    }
}
.dropdown-menu{
    font-size: 0.7rem;
}

@media (min-width: 992px){

    .navbar-brand{
        margin-left: 2rem;
    }
    .navbar-expand-lg .navbar-nav .nav-link{
        margin-right: 2rem;
    }
    .wrapper{
        .sideMenu{
            transform: translateX(0);
        }
        .content{
            margin-left: rem(200px);
        }
        &.active{
            .sideMenu{
                width: rem(80px);
                .nav-link{
                    text-align: center;
                    .icon{
                        margin-right: 0;
                    }
                    .text{
                        display:none;
                    }
                }
            }
            .content{
                margin-left: rem(80px)
            }
        }
    }
}

.nav-link{
    display: block;
    white-space: nowrap;
    .icon{
        margin-right: rem(4px);
        font-size: rem(20px);
        vertical-align: middle;
        height: rem(32px);
        width: rem(32px);
        @extend .text-mattGray;
        display: inline-flex;
        justify-content: center;
        align-items: center;
    
    }
    .text{
        font-size: rem(14px);
        @extend .text-mattGray;
    }
    &:hover,
    &:active{
        @extend .bg-mattBlackDark;
        .icon,.text{
            color: #8fc7ecd2
        }
    }
}