<!DOCTYPE html>
<html lang="en">
{%block head%}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%block title%}<title>Ihufied | Portal</title>{%endblock%}

    <link rel="shortcut icon" href="{{url_for('static', filename='favicon.ico')}}" type="image/x-icon"/>
    <link rel="icon" href="{{url_for('static', filename='favicon.ico')}}" type="image/x-icon"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
    {%block link%}{%endblock%}
</head>
{%endblock%}
<body>
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler sideMenuToggler" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>

        <a class="navbar-brand" href="{{url_for('main.index')}}">Ihufied</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Account
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{{url_for('auth.change_password')}}">Change Password</a>
                <a class="dropdown-item" href="{{url_for('auth.change_email_request')}}">Change Email</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{{url_for('auth.signout')}}">Log Out</a>
              </div>
            </li>
            
          </ul>
          
        </div>
      </nav>

      <div class="wrapper d-flex">
            <div class="sideMenu bg-mattBlackLight">
                <div class="sidebar">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a href="{{url_for('portal.register_student')}}" class="nav-link px-2"><i class="fas fa-user-graduate icon"></i> <span class="text">Register Student</span></a>
                        </li>
                        <li class="nav-item">
                            <a href="{{url_for('portal.remote_monitoring')}}" class="nav-link px-2"><i class="fas fa-tv icon"></i> <span class="text">Remote Monitoring</span></a>
                        </li>
                        <li class="nav-item">
                            <a href="{{url_for('portal.registered_students')}}" class="nav-link px-2"><i class="far fa-registered icon"></i> <span class="text"> Registered Students</span></a>
                        </li>
                        <li class="nav-item">
                            <a href="{{url_for('portal.modify_dept')}}" class="nav-link px-2"><i class="far fa-plus-square icon"></i> <span class="text">Create/Delete Dept.</span></a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="sideMenuToggler nav-link px-2"><i class="fas fa-compress icon"></i> <span class="text">Resize</span></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="content container margin_top">
              {% include 'includes/_messages.html' %}
              {%block page_content%}
                 <div class="bg-mattBlackLight p-3">
                    <h4 class="mb-2">New Clients</h4>
                 </div>
              {%endblock%} 
            </div>
      </div>
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/21fa939ee3.js" crossorigin="anonymous"></script>
    <script src="{{url_for('static', filename='js/script.js')}}" crossorigin="anonymous"></script>
</body>
</html>